body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #282828;
}

.container {
  width: 1020px;
  margin: 0 auto;
}

.header {
  background-color: #2d303a;
  padding: 34px 40px;
  display: flex;
  align-items: baseline;
  box-shadow: 0 5px 0 0 #323746;
}

.nav {
  margin-left: auto;
}

.navlist {
  list-style: none;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.navlist-item {
  display: inline;
  margin-right: 28px;
  cursor: pointer;
}

.navlist-item:nth-child(4) {
  margin-right: 25px;
}

.navlist-item:nth-child(3) {
  margin-right: 25px;
}

.navlist-item:hover {
  color: yellowgreen;
  text-decoration: underline;
}

.navlist-item:last-child {
  margin-right: 0;
}

.selected {
  color: #f06c64;
}

.main {
  margin-top: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 5px 0 0 #ffffff;
}

.iphones {
  min-height: 594px;
  background-color: #f06c64;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 5px;
  box-shadow: 0 5px 0 0 #ea676b;
}

.iphones__chev {
  cursor: pointer;
}

.iphones__chev:hover {
  opacity: 0.5;
}

.iphones__chev-left {
  margin-top: 280px;
  margin-left: 42px;
}

.iphones__phone-1 {
  margin-top: 49px;
  margin-left: 52px;
}

.iphones__phone-2 {
  margin-top: 170px;
  margin-left: 70px;
}

.iphones__chev-right {
  margin-top: 280px;
  margin-left: 51px;
}

.main-container {
  width: 940px;
  padding-bottom: 35px;
  margin-top: 65px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 5px;
}

.main-container h1 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  color: #666d89;
  font-weight: 900;
}

.description {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  text-align: left;
  margin: 16px 0 45px 0;
}

.features {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  width: 300px;
  margin-right: 20px;
  margin-bottom: 27px;
  padding: 0;
  display: flex;
}

.features-item:nth-child(3n) {
  margin-right: 0;
}

.features-item_icon {
  margin-top: 2px;
  margin-right: 20px;
}

.features-item_head {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #666d89;
  font-weight: 900;
}

.features-item_description {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-weight: 400;
  text-align: justify;
  margin: 7px 0 0 0;
}
